<router-outlet></router-outlet>
<ul>
  <li>
    <a href="https://metanit.com/web/angular2/7.2.php">Создание ссылок</a>
  </li>
  <li><a routerLink="/mod1">mod1</a></li>
  <li>
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Главная страница</a
    >
  </li>
  <li><a [routerLink]="['mod2']">mod2</a></li>
  <li><a [routerLink]="['mod2', 'comp1']">mod2/comp1</a></li>
  <li><a [routerLink]="['mod1', '1']">mod1/1</a></li>
  <li><a [routerLink]="['mod1', '2', 'cla']">mod1/2</a></li>
  <li><a [routerLink]="['mod1', '3', '0']">mod1/3</a></li>
  <li><a [routerLink]="['mod1', '4']">mod1/4</a></li>
  <li><a [routerLink]="['mod1', '5']">mod1/5</a></li>
  <li><a [routerLink]="['mod1', '2']" [queryParams]="{q1:0}">mod1/2?q1=0</a></li>
  <li><a [routerLink]="['mod1', '312']" [queryParams]="{q1:1}">mod1/312?q1=1</a></li>
  <li><a [routerLink]="['mod1', '4']" [queryParams]="{q1:2}">mod1/4?q1=2</a></li>

  <li><a [routerLink]="['mod1', '4', '2', '3']" [queryParams]="{q1:2}">mod1/4/2/3?q1=2</a></li>
  <li><a [routerLink]="['mod1', '4', '23423', '13']" [queryParams]="{q1:2}">mod1/4/23423/13?q1=2</a></li>
  <li><a [routerLink]="['mod1', '4', '3', '30']" [queryParams]="{q1:2}">mod1/4/3/30?q1=2</a></li>
  <li><a [routerLink]="['mod1', '4', '4', '40']" [queryParams]="{q1:2}">mod1/4/4/40?q1=2</a></li>
  <li><a [routerLink]="['mod1', '4', '5', '50']" [queryParams]="{q1:2}">mod1/4/5/50?q1=2</a></li>
  <li><button type="button" (click)="goMod1()">go Mod1</button></li>
  <li><button type="button" (click)="goMod2()">go Mod2</button></li>
  <li><button type="button" (click)="goMod3()">go Mod3</button></li>

  <li><button type="button" (click)="goMod1423()">go mod1/4/2/3?q1=2</button></li>
  <li><button type="button" (click)="goMod14550()">go mod1/4/5/50?q1=2</button></li>
  
</ul>
